*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background:#017efe ;
}
.title{
    font-size:x-large;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    width: 20vh; 
    background:#414141 ;
}
.bar2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    background: #414141;
}
.title2{
    font-size:large;
    margin-left: 17%;
}